<a href="https://colab.research.google.com/github/single-spec/Data-Analysis/blob/main/CasperOrderAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#uploading the dataset from local desktop
from google.colab import files
uploaded = files.upload()

Saving Casper_Takehome_Test_Orders.xls to Casper_Takehome_Test_Orders.xls

In [9]:
#reading the order file using pandas
import io
import pandas as pd
import numpy as np
df = pd.read_excel(io.BytesIO(uploaded['Casper_Takehome_Test_Orders.xls']))
df

          Date  ...  Snapchat X Retail Locations Page Orders
0   2019-01-01  ...                                        2
1   2019-01-02  ...                                        5
2   2019-01-03  ...                                        2
3   2019-01-04  ...                                        2
4   2019-01-05  ...                                        3
..         ...  ...                                      ...
726 2020-12-27  ...                                        2
727 2020-12-28  ...                                        3
728 2020-12-29  ...                                        1
729 2020-12-30  ...                                        0
730 2020-12-31  ...                                        0

[731 rows x 25 columns]

In [12]:
#cleaning the dataset, if there are any null values it will be replaced by 0
cleaned_df = df.replace(np.nan,0)
cleaned_df.head(10)

        Date  ...  Snapchat X Retail Locations Page Orders
0 2019-01-01  ...                                        2
1 2019-01-02  ...                                        5
2 2019-01-03  ...                                        2
3 2019-01-04  ...                                        2
4 2019-01-05  ...                                        3
5 2019-01-06  ...                                        3
6 2019-01-07  ...                                        0
7 2019-01-08  ...                                        2
8 2019-01-09  ...                                        2
9 2019-01-10  ...                                        2

[10 rows x 25 columns]

In [17]:
#Sum of the total number of orders according to the traffic sources
dflist_organic = ['Organic X Homepage Orders','Organic X Mattress Page Orders','Organic X Bedding Page Orders','Organic X Retail Locations Page Orders']
dflist_direct = ['Direct X Homepage Orders','Direct X Mattress Page Orders','Direct X Bedding Page Orders','Direct X Retail Locations Page Orders']
dflist_googlesearch = ['Google Search X Homepage Orders','Google Search X Mattress Page Orders','Google Search X Bedding Page Orders','Google Search X Retail Locations Page Orders']
dflist_youtube = ['YouTube x Homepage Orders','YouTube x Mattress Page Orders','YouTube x Bedding Page Orders','YouTube x Retail Locations Page Orders']
dflist_facebook = ['Facbeook x Homepage Orders','Facbeook x Mattress Page Orders','Facbeook x Bedding Page Orders','Facbeook x Retail Locations Page Orders']
dflist_snapchat = ['Snapchat X Homepage Orders','Snapchat X Mattress Page Orders','Snapchat X Bedding Page Orders','Snapchat X Retail Locations Page Orders']

cleaned_df['Total_Organic'] = cleaned_df[dflist_organic].sum(axis=1)
cleaned_df['Total_Direct'] = cleaned_df[dflist_direct].sum(axis=1)
cleaned_df['Total_Googlesearch'] = cleaned_df[dflist_googlesearch].sum(axis=1)
cleaned_df['Total_Youtube'] = cleaned_df[dflist_youtube].sum(axis=1)
cleaned_df['Total_Facebook'] = cleaned_df[dflist_facebook].sum(axis=1)
cleaned_df['Total_Snapchat'] = cleaned_df[dflist_snapchat].sum(axis=1)

cleaned_df.head(5)

        Date  Organic X Homepage Orders  ...  Total_Facebook  Total_Snapchat
0 2019-01-01                        261  ...             364             342
1 2019-01-02                        261  ...             403             358
2 2019-01-03                        236  ...             330             361
3 2019-01-04                        256  ...             360             364
4 2019-01-05                        254  ...             366             347

[5 rows x 31 columns]

In [19]:
#Split the month and year from date to calculate the monthly and yearly average
cleaned_df['month'] = cleaned_df['Date'].dt.month
cleaned_df['year'] = cleaned_df['Date'].dt.year

cleaned_df.head(5)

        Date  Organic X Homepage Orders  ...  month  year
0 2019-01-01                        261  ...      1  2019
1 2019-01-02                        261  ...      1  2019
2 2019-01-03                        236  ...      1  2019
3 2019-01-04                        256  ...      1  2019
4 2019-01-05                        254  ...      1  2019

[5 rows x 33 columns]

In [37]:
#grouping by month and calculating average
cleaned_df.groupby(['month'])['Total_Organic','Total_Direct','Total_Googlesearch','Total_Youtube','Total_Facebook','Total_Snapchat'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

       Total_Organic  Total_Direct  ...  Total_Facebook  Total_Snapchat
month                               ...
1         789.612903    765.967742  ...      331.048387      296.838710
2         783.614035    765.228070  ...      333.263158      299.192982
3         788.129032    766.467742  ...      330.774194      297.403226
4         790.650000    765.466667  ...      330.666667      300.166667
5         798.274194    724.032258  ...      300.193548      241.629032
6         796.333333    716.866667  ...      301.683333      240.683333
7         796.887097    720.838710  ...      302.322581      244.532258
8         794.258065    722.129032  ...      301.129032      240.258065
9         801.716667    676.500000  ...      266.100000      176.716667
10        798.629032    675.806452  ...      270.193548      181.161290
11        804.766667    676.983333  ...      268.400000      181.533333
12        803.532258    674.112903  ...      272.193548      178.983871

[12 rows x 6 columns]

In [38]:
#grouping by year and calculating average
cleaned_df.groupby(['year'])['Total_Organic','Total_Direct','Total_Googlesearch','Total_Youtube','Total_Facebook','Total_Snapchat'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

      Total_Organic  Total_Direct  ...  Total_Facebook  Total_Snapchat
year                               ...
2019     786.221918    780.641096  ...      340.071233      318.813699
2020     804.920765    660.909836  ...      261.114754      160.773224

[2 rows x 6 columns]